@import '../mixins.scss';
@import '../variables.scss';

.publication {
    width: 348px;
    height: 548px;
    background-color: $c_white;
    @include flex-column-between;
    box-shadow: 0px 4px 20px rgba(1, 54, 157, 0.15);
    border-radius: 10px;
    &__container {
        margin: 20px;
    }
    &__image {
        width: 100%;
        height: 223px;
        border-radius: 10px;
        object-fit: cover;
    }
    &__title {
        @include rest;
        margin-top: 20px;
        color: $c_dark-blue;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow-y: hidden;
    }
    &__name {
        @include rest;
        margin-top: 4px;
        color: $c_emerald;
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
    }
    &__content {
        @include rest;
        margin-top: 20px;
        color: $c_dark-blue;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow-y: hidden;
    }
    &__detail {
        @include flex-row-between;
        width: 100%;
        height: 70px;
        background-color: $c_emerald;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: none;
    }
    &__link {
        color: $c_white;
        text-decoration: none;
        margin-left: 20px;
    }
    &__button {
        margin-right: 20px;
        width: 20px;
        height: 20px;
        background: center/cover no-repeat url(../../images/publications/share.svg);
        border: none;
    }
    &:hover {
        .publication__image {
            height: 158px;
        }
        .publication__detail {
            display: flex;
        }
    }
}

