@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.publications {
    @include flex-column-center;
    background-color: $c_light-blue;
    &__title {
        @include rest;
        margin-top: 80px;
        color: $c_blue;
        font-weight: 600;
        font-size: 36px;
        line-height: 68px;
    }
    &__list {
        @include rest;
        margin-top: 30px;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px 33px;
    }
}