.publications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E0F0FF;
}
.publications__title {
  margin: 0;
  padding: 0;
  margin-top: 80px;
  color: #001337;
  font-weight: 600;
  font-size: 36px;
  line-height: 68px;
}
.publications__container {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 33px 1fr 33px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 30px 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 30px 33px;
}
.publications__container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.publications__container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.publications__container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.publications__container > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.publications__container > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.publications__container > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}