.title {
  margin: 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 68px;
  letter-spacing: 0.1px;
  padding: 80px 0 30px;
  text-align: center;
  text-transform: uppercase;
}

.title_type_black {
  color: #000D26;
}

.title_type_white {
  color: #ffffff;
}