@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.team {
    @include flex-column-center;
    background: linear-gradient(to bottom, $c_light-blue 50%, $c_blue 50%);
    &__title {
        @include rest;
        margin-top: 50px;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 68px;
        letter-spacing: 0.1px;
        color: $c_dark-blue;
    }
    &__container {
        @include rest;
        margin-top: 30px;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}
