@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.footer {
    width: 100%;
    background-color: $c_blue;
    margin: 0 auto;
    @include flex-column;
    min-height: 100px;

    .footer__wrapper {
        width: 1110px;
        margin: 80px 0;
        display: grid;

        align-items: flex-start;
        justify-content: space-between;
        grid-template-areas: 
        "logo logo logo logo"
        "university main development contacts"
        "description main development contacts"
        "authors authors none none";
        grid-template-columns: 270px 90px 90px 206px;
        grid-template-rows: 100px 30px 240px 20px;

        .footer_type_text {
            @include rest;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: $c_white;
            margin-bottom: 8px;
        }

        .footer_type_liks {
            text-decoration: none;
            margin-bottom: 8px;

            &:hover {
                opacity: 0.7;
            }
        }

        .footer__authors {
            opacity: 0.5;
        }

        .footer__title {
            font-weight: 600px;
            @include rest;
            font-size: 14px;
            line-height: 19px;
            color: $c_white;
            margin-bottom: 12px;
        }

        .footer__description {
            margin-top: 30px;
        }

        .footer__city {
            @include rest;
            color: $c_white;
            font-weight: 600;
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 12px;
        }

        .footer__contacts {
            @include flex-column-between-left;
        }

        .footer__logo {
            grid-area: logo;
        }
        .footer__university {
            grid-area: university;
        }

        .footer__main {
            @include flex-column-between-left;
            grid-area: main;
        }

        .footer__development {
            @include flex-column-between-left;
            grid-area: development;
        }

        .footer__icon {
            margin-right: 5px;
        }

        .footer__contacts {
            grid-area: contacts;
        }

        .footer__authors {
            margin-top: 38px;
            grid-area: authors;
        }

        .footer__media {
            margin-top: 66px;
            justify-self: end;
            grid-area: media;
        }

    }
}