.laboratory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .laboratory .laboratory__contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1110px; }
  .laboratory .laboratory__foreword-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .laboratory .laboratory__foreword-wrapper .laboratory__paragraphs {
      max-width: 540px;
      position: relative;
      margin-right: 20px; }
      .laboratory .laboratory__foreword-wrapper .laboratory__paragraphs .laboratory__paragraph {
        margin: 0;
        padding: 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.1px;
        color: #000D26; }
        .laboratory .laboratory__foreword-wrapper .laboratory__paragraphs .laboratory__paragraph:nth-last-child(2) {
          margin-top: 20px;
          line-height: 26px;
          font-weight: 300; }
      .laboratory .laboratory__foreword-wrapper .laboratory__paragraphs .laboratory__mini-icon {
        cursor: pointer;
        position: absolute;
        left: -40px;
        top: 142px; }
    .laboratory .laboratory__foreword-wrapper .laboratory__images-wrapper .laboratory__image {
      border-radius: 10px; }
      .laboratory .laboratory__foreword-wrapper .laboratory__images-wrapper .laboratory__image:nth-last-child(2) {
        margin-right: 10px; }
  .laboratory .laboratory__cards {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 80px auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .laboratory .laboratory__cards .laboratory__card {
      width: 255px;
      height: 430px;
      border-radius: 10px;
      position: relative;
      -webkit-box-shadow: 0px 4px 20px rgba(1, 54, 157, 0.15);
              box-shadow: 0px 4px 20px rgba(1, 54, 157, 0.15);
      -webkit-transition: -webkit-transform 0.3s ease-in-out;
      transition: -webkit-transform 0.3s ease-in-out;
      transition: transform 0.3s ease-in-out;
      transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }
      .laboratory .laboratory__cards .laboratory__card:hover {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px); }
      .laboratory .laboratory__cards .laboratory__card .laboratory__card-background {
        position: absolute;
        border-radius: 10px;
        background-color: #ffffff;
        opacity: 0.3; }
      .laboratory .laboratory__cards .laboratory__card:hover .laboratory__card-overlay {
        position: absolute;
        background: #009FAC; }
      .laboratory .laboratory__cards .laboratory__card:hover .laboratory__card-title {
        color: #ffffff; }
      .laboratory .laboratory__cards .laboratory__card:hover .laboratory__card-paragraph {
        color: #ffffff; }
      .laboratory .laboratory__cards .laboratory__card:hover .laboratory__card-button {
        border-color: #ffffff;
        color: #ffffff; }
      .laboratory .laboratory__cards .laboratory__card .laboratory__card-overlay {
        border-radius: 10px;
        width: 255px;
        height: 430px;
        background: -webkit-gradient(linear, left top, left bottom, from(#ffffff));
        background: linear-gradient(180deg, #ffffff rgba(255, 255, 255, 0) 100%);
        -webkit-transition: background-color 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;
        cursor: pointer; }
        .laboratory .laboratory__cards .laboratory__card .laboratory__card-overlay .laboratory__card-wrapper {
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          height: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          position: relative;
          padding: 20px 30px; }
          .laboratory .laboratory__cards .laboratory__card .laboratory__card-overlay .laboratory__card-wrapper .laboratory__card-title {
            margin: 0;
            text-align: center;
            font-weight: 600;
            font-size: 18px;
            line-height: 30px;
            -webkit-transition: color 0.1s ease-in-out;
            transition: color 0.1s ease-in-out; }
          .laboratory .laboratory__cards .laboratory__card .laboratory__card-overlay .laboratory__card-wrapper .laboratory__card-circle {
            border-radius: 50%;
            background-color: #ffffff;
            width: 70px;
            height: 70px;
            -webkit-box-shadow: 0px 4px 20px rgba(1, 54, 157, 0.15);
                    box-shadow: 0px 4px 20px rgba(1, 54, 157, 0.15);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center; }
          .laboratory .laboratory__cards .laboratory__card .laboratory__card-overlay .laboratory__card-wrapper .laboratory__card-paragraph {
            margin: 0;
            padding: 0;
            text-align: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.1px;
            -webkit-transition: color 0.1s ease-in-out;
            transition: color 0.1s ease-in-out; }
          .laboratory .laboratory__cards .laboratory__card .laboratory__card-overlay .laboratory__card-wrapper .laboratory__card-button {
            cursor: pointer;
            background: transparent;
            border-radius: 10px;
            border: 1px solid;
            width: 215px;
            height: 40px;
            -webkit-transition: color 0.1s ease-in-out;
            transition: color 0.1s ease-in-out; }
