.contacts {
  background-color: #009fac;
  color: #fff;
  padding: 80px 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 68px;
  text-align: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  margin: 0;
}

.contacts__subtitle {
  font-family: "Open Sans", sans-serif;
  margin: 37px 0 60px;
  width: 919px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.1px;
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__container {
  display: -ms-grid;
  display: grid;
  width: 1113px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "name surname message" "tel email message";
  gap: 29px 20px;
}

.contacts__input {
  width: 352px;
  border-radius: 10px;
  border: none;
  padding: 19px 23px 19px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contacts__input::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #009fac;
}

.contacts__input:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #009fac;
}

.contacts__input::-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #009fac;
}

.contacts__input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #009fac;
}

.contacts__input:focus {
  outline: none;
}

.contacts__input_type_name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

.contacts__input_type_surname {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: surname;
}

.contacts__input_type_tel {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: tel;
}

.contacts__input_type_email {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: email;
}

.contacts__input_type_message {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: message;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.contacts__input_type_message::-webkit-input-placeholder {
  position: absolute;
  top: 20px;
  left: 20px;
}

.contacts__input_type_message:-ms-input-placeholder {
  position: absolute;
  top: 20px;
  left: 20px;
}

.contacts__input_type_message::-ms-input-placeholder {
  position: absolute;
  top: 20px;
  left: 20px;
}

.contacts__input_type_message::placeholder {
  position: absolute;
  top: 20px;
  left: 20px;
}

.contacts__input_difference_height {
  height: 60px;
}

.contacts__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  width: 350px;
  height: 60px;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  background: transparent;
  padding: 16px;
  box-sizing: border-box;
  margin-top: 37px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contacts__button:hover {
  border: 1px solid #000D26;
  color: #000D26;
}
