
// Обнуление
@mixin rest {
    margin: 0;
    padding: 0;
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}


// fonts
@mixin font-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 68px;
    letter-spacing: 0.1px;
}

// flexbox
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-row-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-column-between {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-column-between-left {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin flex-column-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@mixin regular-font {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.1px;
}

@mixin bold-font {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #000D26;
}

@mixin default-hover {
    cursor: pointer;
    opacity: .6;
}

@mixin flex-row-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
