
// Обнуление
@mixin rest {
    margin: 0;
    padding: 0;
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

// flexbox
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-row-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin flex-column-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@mixin regular-font {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.1px;
}
