@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.header {
  box-sizing: border-box;
  width: 100%;
  background-color: $c_dark-blue;
  padding: 13px 165px;
  display: flex;
  align-items: center;
  justify-content: center;


  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin:0 0 0 135px;
  }

  &__list-item{
    display: flex;
    margin-right: 20.83px;
    width: 100px;
    height: 44px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.5s;
  }

  &__list-item:last-of-type{
    margin-right: 0;
  }

  &__list-item:hover{
    border-bottom: 2px solid #009FAC;
  }

  &__link {
    font-family: $f_main-font;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
  }
}
