.education {
  background-color: #009FAC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0;
}
.education__title {
  padding: 0;
  margin: 0 auto 30px;
  font-size: 36px;
  line-height: 68px;
  color: white;
}
.education__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.1px;
  width: 920px;
  color: white;
  padding: 0;
  margin: 0 auto 60px;
}
.education__main-container {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto 35px;
  padding: 0;
  border-radius: 10px;
  width: 1170px;
  height: 430px;
}
.education__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 635px;
  height: 370px;
}
.education__info-title {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #000D26;
  margin-bottom: 30px;
}
.education__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 30px;
}
.education__programm {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.1px;
  line-height: 25px;
  margin: 0 0 5px 0;
  padding: 0;
}
.education__photo {
  width: 445px;
  height: 364px;
  -o-object-fit: contain;
     object-fit: contain;
}
.education__more {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #000D26;
  width: 30%;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.education__more:hover {
  cursor: pointer;
  opacity: 0.6;
}
.education__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.education__button {
  width: 280px;
  height: 70px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  margin: 0;
  padding: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.education__button:last-of-type {
  margin-left: -10px;
}
.education__button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.education__button_active {
  color: black;
  background-color: #E0F0FF;
}